@import "tailwindcss";

:root {
  padding-top: 30px;
  background-color: #010101;
  color: white;
  text-align: center;
  cursor: default;
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  display: none;
}

.btn{
  background: linear-gradient(135deg, #EB252F, black, #EB252F);
  background-size: 250% 100%;
  background-position: right;
  transition: all 1s;
}

.btn:hover{
  background-position: left;
}

.btn1{
  display: inline-block;
  width: fit-content;
  background: linear-gradient(135deg, #CCAD91, #3D2D24, #CCAD91);
  background-size: 200% 100%;
  background-position: right;
  transition: all .5s;
}

.btn1:hover{
  background-position: left;
}